<div class="form-dialog-class">
  <mat-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="form-group">
        <ng-template matStepLabel>Fill out payee information</ng-template>
        <div>
          <mat-form-field class="form-field">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field">
            <mat-label>Phone No</mat-label>
            <input matInput formControlName="phoneNo">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field">
            <mat-label>Address Line 1</mat-label>
            <input matInput formControlName="addrsLine1" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field">
            <mat-label>Address Line 2</mat-label>
            <input matInput formControlName="addrsLine2">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field">
            <mat-label>City</mat-label>
            <input matInput formControlName="city" required>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Postal Code</mat-label>
            <input matInput formControlName="postalCode" required>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field">
            <mat-label>Country</mat-label>
            <input #stateInput type="text" matInput [matAutocomplete]="auto" (input)="filterCountries($event)"
              (focus)="filterCountries($event)" formControlName="state" required>
            <mat-autocomplete requireSelection #auto="matAutocomplete">
              @for (state of filteredStates; track state['name']) {
              <mat-option [value]="state['name']">{{state['name']}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Country</mat-label>
            <input #countryInput type="text" matInput [matAutocomplete]="auto" (input)="filterCountries($event)"
              (focus)="filterCountries($event)" formControlName="country" required>
            <mat-autocomplete requireSelection #auto="matAutocomplete">
              @for (country of filteredCountries; track country['name']) {
              <mat-option [value]="country['name']">{{country['name']}}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </form>

      <div class="navigation-button-container">
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup" class="form-group">
        <ng-template matStepLabel>Fill out payment information</ng-template>

        <div>
          <mat-form-field class="form-field">
            <mat-label>Due Amount</mat-label>
            <input matInput type="number" required>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-field">
            <mat-label>Currency</mat-label>
            <input #currencyInput type="text" matInput [matAutocomplete]="auto" (input)="filterCurrenies($event)"
              (focus)="filterCurrenies($event)" required>
            <mat-autocomplete requireSelection #auto="matAutocomplete">
              @for (currency of filteredCurrencies; track currency['name']) {
              <mat-option [value]="currency['currency']">{{currency['name']}} ({{currency['currency']}})</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="form-field">
            <mat-label>Due Date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-field">
            <mat-label>Discount (%)</mat-label>
            <input type="number" matInput>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-label>Tax (%)</mat-label>
            <input type="number" matInput>
          </mat-form-field>
        </div>
      </form>

      <div class="navigation-button-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="saveFormData()">Save</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
