.page-loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-spinner-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.filter-container {
  margin: 1em;
}

::ng-deep .mat-calendar {
  background-color: white;
}

.form-container mat-form-field {
  margin: 2px
}

.search-button {
  background: #eaeaea;
  border-radius: 4px;
}

tr:nth-child(even) {
  background: white;
}

.action-button {
  background-color: white;
  margin: 1ex;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.add-data-button {
  background: rgb(149, 255, 149);
  /* color: white; */
  border-radius: 50%;
}

.delete-button {
  color: red;
}
