<div *ngIf="loading">Loading data...</div>
<div *ngIf="error">{{ error }}</div>
<p *ngIf="paymentData.length === 0 && !loading && !error">No data available.</p>
<table *ngIf="paymentData.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Added Date</th>
      <th>Due Date</th>
      <th>Due Amount</th>
      <th>Discount</th>
      <th>Tax</th>
      <th>Total Due</th>
      <th>Currency</th>
      <th>Payment Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of paymentData">
      <td>{{ payment['payee_last_name'] }}, {{ payment['payee_first_name'] }}</td>
      <td>{{ payment['payee_email'] }}</td>
      <td>{{ payment['payee_phone_number'] }}</td>
      <td>{{ payment['payee_added_date_utc'] }}</td>
      <td>{{ payment['payee_due_date'] }}</td>
      <td>{{ payment['discount_percent'] }}</td>
      <td>{{ payment['tax_percent'] }}</td>
      <td>{{ payment['due_amount'] }}</td>
      <td>{{ payment['total_due'] }}</td>
      <td>{{ payment['currency'] }}</td>
      <td>{{ payment['payee_payment_status'] }}</td>
      <td>
        <button title="Edit this payment" class="action-button" mat-mini-fab (click)="editPayment(payment)">
          <mat-icon>edit</mat-icon>
        </button>
        <button title="Delete this payment" class="action-button delete-button" mat-mini-fab
          (click)="editPayment(payment)">
          <mat-icon>delete</mat-icon>
        </button>
        <button title="View user profile" class="action-button profile-button" mat-mini-fab
          (click)="viewUserProfile(payment)">
          <mat-icon>account_box</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>